@font-face {
  font-family: "Figtree";
  src: url(font/Figtree-VariableFont_wght.ttf);
  font-weight: 300 900;
  font-style: normal;
  font-display: swap;
}

:root {
  --background-color-header-footer: #09212a;
  --background-color-main: #06171e;
  --border-color: #124658;
  --border-color-hover: #2d96ba;
}

body {
  font-family: "Figtree", sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  color: #fff;
}

h1 {
  font-size: clamp(48px, 3vw, 56px);
  margin: 0;
  margin-bottom: clamp(20px, 6vw, 150px);
  text-align: center;
}

header,
footer {
  background-color: var(--background-color-header-footer);
  justify-content: center;
}

button {
  cursor: pointer;
}

main {
  flex: 1;
  background-color: var(--background-color-main);
}

.content {
  max-width: 1440px;
  margin: 0 auto;
  padding: clamp(6px, 1vw, 16px);
  padding-block: 30px;
}