@font-face {
  font-family: "Figtree";
  src: url(font/Figtree-VariableFont_wght.ttf);
  font-weight: 300 900;
  font-style: normal;
  font-display: swap;
}

:root {
  --background-color-header-footer: #09212a;
  --background-color-main: #06171e;
  --border-color: #124658;
  --border-color-hover: #2d96ba;
}
body {
  font-family: "Figtree", sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  color: #fff;
}
h1 {
  font-size: clamp(48px, 3vw, 56px);
  margin: 0;
  margin-bottom: clamp(20px, 6vw, 150px);
  text-align: center;
}
header,
footer {
  background-color: var(--background-color-header-footer);
  justify-content: center;
}
button {
  cursor: pointer;
}
main {
  flex: 1;
  background-color: var(--background-color-main);
}
.content {
  max-width: 1440px;
  margin: 0 auto;
  padding: clamp(6px, 1vw, 16px);
  padding-block: 30px;
}

/*------ flex ------*/
.display-flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.flex-center-x {
  justify-content: center;
}
.flex-center-y {
  align-items: center;
}

/*-------------- Logo ---------------------*/
.logo {
  margin: 0;
  padding: 20px;
}
header .logo {
  width: clamp(180px, 5vw, 230px);
}
footer .logo {
  width: clamp(40px, 3vw, 60px);
}

/*------- Fotogalerie ------*/
.btn-img-dialog {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}
#fotoContainer {
  flex-wrap: wrap;
  gap: clamp(4px, 2vw, 16px);
}
#fotoContainer img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border: 2px solid var(--border-color);
  border-radius: 16px;
  box-sizing: border-box;
  transition: all 0.25s ease-in-out;
}

#foto-container img:hover {
  border-color: var(--border-color-hover);
  transform: scale(1.02);
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.15);
}
