/*----------- Flex --------------*/
.display-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-center-x {
  justify-content: center;
}

.flex-center-y {
  align-items: center;
}