/*-------------- Foto Dialog --------------------*/
#fotoDialog {
  background-color: var(--background-color-header-footer);
  color: #fff;
  padding: 0;
  border:none;
  border-radius: 20px;
  width: 600px;
}

#fotoDialog::backdrop {
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(4px);
}

#foto-dialog-stopbubbeling-wrapper {
  padding: 8px;
}

.fotoDialog-header {
  justify-content: space-between;
}

#foto-dialo-headline {
  font-size: 24px;
  font-weight: 700;
}

.foto-dialog-img-wrapper {
  flex-direction: column;
  gap: 20px;
  height: 400px;
  margin: 0;
}

#foto-dialog-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.foto-dialog-footer {
  gap: 30px;
  padding-block: 30px;
}

.foto-dialog-close-btn,
.foto-dialog-browse-btn {
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  border: none;
  transition: all 0.25s ease-in-out;
}

.foto-dialog-close-btn {
  background-color: rgba(0, 0, 0, 0.25);
  height: 32px;
  width: 32px;
  background-image: url(../img/icons/close.png);
}

.foto-dialog-close-btn:hover {
  background-color: rgba(0, 0, 0, 0.85);
  transform: scale(1.1);
}

.foto-dialog-browse-btn {
  height: 60px;
  width: 60px;
  background-color: rgba(253, 91, 79, 0.6);
  background-image: url(../img/icons/Arrow-Right.png);
}

#browse-img-back {
  transform: rotate(180deg);
}

.foto-dialog-browse-btn:hover {
  background-color: rgba(253, 91, 79, 0.3);
}
