/*---------------- Fotogalerie ---------*/
.btn-img-dialog {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}

#foto-container {
  flex-wrap: wrap;
  gap: clamp(4px, 2vw, 16px);
}

#foto-container img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border: 2px solid var(--border-color);
  border-radius: 16px;
  box-sizing: border-box;
  transition: all 0.25s ease-in-out;
}

#foto-container img:hover {
  border-color: var(--border-color-hover);
  transform: scale(1.02);
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.15);
}